<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login to Notesin</title>
  <link rel="stylesheet" href="/forms.css">

</head>
<body>
<div class="container">
  <header>Login to Notesin</header>
  <form action="/login" method="post">
    <div class="field email-field">
      <div class="input-field">
        <input type="email" name="email" placeholder="Enter your email" class="email" required />
      </div>
      <span class="error email-error">
        <p class="error-text">Please enter a valid email</p>
      </span>
    </div>
    <div class="field create-password">
      <div class="input-field">
        <input type="password" name="password" placeholder="Password" class="password" required />
      </div>
      <span class="error password-error">
        <p class="error-text">
          Please enter atleast 8 charatcer with number, symbol, small and
          capital letter.
        </p>
      </span>
    </div>
    <div class="field confirm-password">
      <div class="input-field">
        <input type="password" placeholder="Confirm Password" class="cPassword" required />
        
      </div>
      <span class="error cPassword-error">
        <p class="error-text">Password didn't match</p>
      </span>
    </div>
    <div class="links">
      <a href="#">Forgot Password</a>
      <a href="/signup">Signup</a>
    </div>
    <div class="input-field button">
      <input type="submit" value="Login Now" />
    </div>
  </form>
</div>
</body>
</html>
