<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Note</title>
    <link rel="stylesheet" href="/view.css" />
  </head>
  <body>
    <%- include('navbar'); -%>

    <div class="container">
      <form method="POST" action="/notes/<%= id %>">
        <input
          type="text"
          name="title"
          value="<%= note.title %>"
          placeholder="Title"
          required
        />
        <textarea name="content" rows="5" placeholder="Content">
<%= note.content %></textarea
        >
        <button type="submit">Update</button>
      </form>
      <a href="/">← Back to Notes</a>
    </div>
  </body>
</html>
